name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - release
      - main
    tags:
      - v*

jobs:
  publish:
    name: Build and publish Docker image
    runs-on: ubuntu-latest

    outputs:
      nazca-krender-digest: ${{ steps.docker_build_nazca-krender.outputs.digest }}
      branch: ${{ env.GIT_REF }}
      scheme: ${{ env.SCHEME }}
      kube-scheme: ${{ env.KUBE_SCHEME }}
      kube-repo: ${{ env.KUBE_REPO }}
      kube-ns: ${{ env.KUBE_NS }}

    steps:
      - uses: actions/checkout@master
      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Cache gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set environment variables
        run: |
          echo "GIT_REF=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Use environment variables
        run: |
          echo "GIT_REF=${{ env.GIT_REF }}"
      - name: Set environment variables from branches
        run: |
          if [[ "${{ env.GIT_REF }}" == develop ]]; then
            echo "KUBE_SCHEME=dev" >> $GITHUB_ENV
            echo "SCHEME=dev" >> $GITHUB_ENV
          elif [[ "${{ env.GIT_REF }}" == release ]]; then
            echo "KUBE_SCHEME=dev" >> $GITHUB_ENV
            echo "SCHEME=sandbox" >> $GITHUB_ENV
          elif [[ "${{ env.GIT_REF }}" == main ]]; then
            echo "KUBE_SCHEME=prod" >> $GITHUB_ENV
            echo "SCHEME=prod" >> $GITHUB_ENV
          else
            echo "KUBE_SCHEME=dev" >> $GITHUB_ENV
            echo "SCHEME=dev" >> $GITHUB_ENV
          fi
      - name: Set dir environment variables from branches
        run: |
          if [[ "${{ env.GIT_REF }}" == main ]]; then
            echo "KUBE_REPO=kubekube-web3" >> $GITHUB_ENV
            echo "KUBE_NS=ns-web3backend" >> $GITHUB_ENV
          else
            echo "KUBE_REPO=kubekube-web3" >> $GITHUB_ENV
            echo "KUBE_NS=ns-nazca" >> $GITHUB_ENV
          fi
      - name: Use environment variables from branches
        run: |
          echo "KUBE_SCHEME=${KUBE_SCHEME}"
          echo "SCHEME=${SCHEME}"
          echo "KUBE_REPO=${KUBE_REPO}"
          echo "KUBE_NS=${KUBE_NS}"
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: |          
          if [[ "${{ env.GIT_REF }}" == develop ]]; then
            echo "./gradlew clean build -x test -Pprofile=develop"
            ./gradlew clean build -x test -Pprofile=develop
          elif [[ "${{ env.GIT_REF }}" == release ]]; then
            echo "./gradlew clean build -x test -Pprofile=release"
            ./gradlew clean build -x test -Pprofile=release
          elif [[ "${{ env.GIT_REF }}" == main ]]; then
            echo "./gradlew clean build -x test -Pprofile=production"
            ./gradlew clean build -x test -Pprofile=production
          fi
      - name: Cleanup gradle cache
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties

      - name: Build Docker image to Nazca-KRENDER
        id: docker_build_nazca-krender
        uses: docker/build-push-action@v2
        with:
          build-args: |
            ACTIVE_PROFILES=${{ env.GIT_REF }}
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/tf-dive/nazca-krender:${{ env.GIT_REF }}
#  deploy:
#    runs-on: ubuntu-latest
#    needs: publish
#    steps:
#      - name: Setup Kustomize
#        uses: imranismail/setup-kustomize@v1
#
#      - name: Checkout kustomize repository
#        uses: actions/checkout@v2
#        with:
#          repository: tf-dive/kubekube-web3
#          ref: main
#          token: ${{ secrets.KUBEKUBE_PAT }}
#          path: kubekube-web3
#
#      - name: Checkout kustomize repository
#        uses: actions/checkout@v2
#        with:
#          repository: tf-dive/kubekube-web3
#          ref: main
#          token: ${{ secrets.KUBEKUBE_PAT }}
#          path: kubekube-web3
#
#      - name: nazca-krender Update Kubernetes resources
#        run: |
#          pwd
#          echo ghcr.io/tf-dive/nazca-krender@\${{ needs.publish.outputs.nazca-krender-digest }}
#          cd ${{ needs.publish.outputs.kube-repo }}/${{ needs.publish.outputs.kube-scheme }}/recipes/${{ needs.publish.outputs.kube-ns }}/nazca-krender/overlays/${{ needs.publish.outputs.scheme }}
#          kustomize edit set image ghcr.io/tf-dive/nazca-krender@\${{ needs.publish.outputs.nazca-krender-digest }}
#          cat kustomization.yaml
#      - name: nazca-krender Commit manifest files
#        run: |
#          cd ${{ needs.publish.outputs.kube-repo }}
#          git config --global user.email "github-actions@github.com"
#          git config --global user.name "github-actions"
#          git commit -am "Update nazca-krender image tag(${{ needs.publish.outputs.nazca-krender-digest }})"
#          git push -u origin main
